.filter {
  width: 350px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__restart {
    width: 290px;
    border-radius: 8px;
    padding: 15px 40px;
    border: 1px solid #e9ebf0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    cursor: pointer;

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.3;
    margin: 0 0 30px;
  }
}

.custom-checkbox {
  display: flex;
  align-items: center;

  &__field {
    width: 20px;
    height: 20px;
    margin: 0;
    accent-color: #6fc76c;
    cursor: pointer;
  }

  &__label {
    font-size: 16px;
    line-height: 1.4;
    padding-left: 10px;
    cursor: pointer;

    &-count {
      color: #a5a5a5;
      margin-left: 10px;
    }
  }
}
