.product__box {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.product__title {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.product__price {
    display: flex;
    flex-direction: column;

    &-old {
        font-size: 16px;
        line-height: 1.4;
        text-decoration: line-through;
        color: #A5A5A5;
    }

    &-new {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 600;
    }
}